.container{
    width: 30%;
    text-align: center;
    margin: auto;
}

.listcontainer{
    border-radius: 5px;
    border: 1px solid black;
    position: relative;
    overflow: auto;
    height: 300px;
}

.listdisplay{
    list-style-type: none;
}

.listCard{
    margin: 5px;
    width: 90%;
    background: gainsboro;
    padding-top: 20px;
    height: 50px;
    border-radius: 3px;
}