.container{
    width: 30%;
    text-align: center;
    margin-top: 50px;
    margin: auto;
}

.listcontainer{
    border-radius: 20px;
    border: 1px solid black;
    position: relative;
    overflow: auto;
    height: 300px;
}

.listdisplay{
    list-style-type: none;
}