.container{
    font-size: 130px;
    text-align: center;
    margin-top: 20%;
}

.container button{
    margin: 10px;
    font-size: 35px;
    width: 70px;
    color: white;
    background-color: black;
}